﻿.form-labels-on-top input[type=submit]
{
    border-radius: 2px;
    background-color: #C0C0C0; /*background: url(image/w_132_m3.png) no-repeat;*/
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 15px;
    width: 132px;
    height: 40px;
}

.form-labels-on-top input[type=submit]:hover
{
    background-color: #6caee0;
}

.smalltext
{
    color: #EC1010; /*position: absolute;
    top: 116px;
    left: 95px;*/
    font-size: 12px;
}

.smalltext-white
{
    color: #ffffff; /*position: absolute;
    top: 116px;
    left: 95px;*/
    font-size: 12px;
}

.form-register-with-email input[name="SendCode"]:hover
{
    background-color: #6caee0;
}

.form-register-with-email input[name="SendCode"]
{
    width: 87px;
    height: 26px; /*margin-left: 7px;*/
    margin-top: 2px; /*float: left;*/ /*color: #FFFFFF;*/ /*background: transparent url("../images/register/send_code2.png") repeat scroll 0% 0%;*/
    cursor: pointer; /*text-align: center;*/
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    line-height: 22px;
    padding: 2px 2px 2px 10px;
    background-color: #C0C0C0;
    color: #ffffff;
}

.headlogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.form-labels-on-top h1
{
    display: block; /*background-color:#6caee0;*/
    border-radius: 5px;
    background-image: url('../image/bgGrad.jpg');
    background: -moz-linear-gradient(top, #4c4c4c 0%, #333333 25%, #0f0f0f 41%, #000000 64%, #2b2b2b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#333333 25%,#0f0f0f 41%,#000000 64%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#333333 25%,#0f0f0f 41%,#000000 64%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.form-register-with-email h1
{
    display: block;
    /*background-color:#6caee0;*/
    border-radius: 5px;
    background-image: url('../image/bgGrad.jpg');
    background: -moz-linear-gradient(top, #4c4c4c 0%, #333333 25%, #0f0f0f 41%, #000000 64%, #2b2b2b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#333333 25%,#0f0f0f 41%,#000000 64%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%,#333333 25%,#0f0f0f 41%,#000000 64%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.form-register-with-email input[name="btnSubmit"]
{
    display: block;
    border-radius: 2px;
    background-color: #C0C0C0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 35px;
    border: 0;
    margin: 5px auto 0 auto;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.form-register-with-email input[name=btnSubmit]:hover
{
    background-color: #6caee0;
}

/*body
{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}*/
